puccinialin
vllm
pytorch-lightning
openai
igraph
datasets
matplotlib
plotly
seaborn
node2vec
umap-learn
sentencepiece
gensim
tensorboardX
numpy
pandas
psutil
psycopg2-binary
networkx
python-dotenv
pyparsing
PyYAML

scikit-learn
scipy
accelerate
SQLAlchemy
transformers==4.51.2
torch
bitsandbytes
accelerate
sentence_transformers==3.4.1
sqlparse
urllib3
wandb